<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Страница обо мне, моих увлечениях, о том почему постипил на ПС и чем хочу знаиматься"/>
    <meta name="author" content="Федосеев Евгений ПС-13"/>
    <meta name="keywords" content="My page, истории людей, студенты ПС"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
