.main
{
    width: 100%;
}

.main__about
{
    font: 32px "Georgia";
}

.main__photo
{
    width: 150px;
}

.main__list-header
{
  font: 16px/32px "Georgia";
}

body
{
    margin: 0;
    padding: 0;
}

.pictures
{
    display: flex;
    margin-left: 13%;
    margin-bottom: 5%;
}

.gallery
{
    position: relative;
    width: 1000px;
    margin: 100px auto 0;
}

.gallery__name
{
    text-transform: uppercase;
    text-align: center;
    width: 50%;
}

.images
{
    width: 15%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slidewrapper
{
    position: relative;
    width: calc(100% * 5);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

}

.slide
{
    width: calc(100%/5);
    list-style: none;
    display: inline;
    float: left;
}

.slide__photo
{
    width: 305px;
    height: 187px;
}

.prev-next-btns
{
    width: 100%;
    position: relative;
}

.prev-btn, .next-btn
{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 100px);
    z-index: 1;
}

.prev-btn:hover, .next-btn:hover
{
    cursor: pointer;
}

.prev-btn
{
    left: 20px;
}

.next-btn
{
    right: 50%;
}

.nav-btns
{
    position: absolute;
    bottom: 90px;
    left: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn
{
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover
{
    cursor: pointer;
}

.gallery__updater
{
    display: block;
    font: 19px/32px "Georgia";
    color: #fff;
    background-color: #15a98c;
    margin: 44px 0 0 0;
    padding: 5px 42px 5px 43px;
    border: 0 solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#updater
{
    display: block;
    font: 19px/32px "Georgia";
    color: #fff;
    background-color: #15a98c;
    margin: 44px auto 0;
    padding: 9px 62px 9px 63px;
    border: 0 solid #000;
    border-radius: 5px;
    cursor: pointer;
}



